{% extends 'layout/base.html.twig' %}
{% block title %}Weekday{% endblock %}
{% block content %}

    <h1>index</h1>
    <div>
        <form id="login-form" action="{{ _links.login.href }}" method="post">
            <label for="username">ユーザー名</label><input id="username" type="text" name="username" value="" />
            <label for="password">パスワード</label><input id="password" type="password" name="password" value="" />
            <button type="submit">送信</button>
        </form>
    </div>

{% endblock %}
