{% extends 'layout/base.html.twig' %}
{% block title %}Weekday{% endblock %}
{% block content %}

    <h1>index</h1>
    <div>
        <a id="link_next" href="{{ _links.next.href }}" >next page</a>
    </div>

{% endblock %}
