{% extends 'layout/base.html.twig' %}
{% block title %}Weekday{% endblock %}
{% block content %}

    <h1>ログアウトしました</h1>
    <div>
        <a id="link_index" href="{{ _links.index.href }}" >index page</a>
    </div>

{% endblock %}
